
.admin-theme--seven {
  #color_scheme_form {
    h2,
    #preview {
      display: none !important;
    }

    .form-type-select {
      margin-left: 20px;
    }

    .color-form {
      max-width: 100%;
      margin: 0;
      padding: 0;
      position: relative;

      label {
        background: #f2f2f0;
        border-bottom: 1px solid #eee;
        clear: left;
        float: left;
        margin: 0 0.5em 0 0 !important;
        padding: 0.35em;
        width: 20em;
      }
    }

    #placeholder {
      left: 45em;
      position: absolute;
      width: 195px;
      z-index: 100;
      float: none;
    }

    #palette {
      min-height: 195px;
      margin: 0 0 0 20px;
    }
  }

  @media all and (max-width: 66em) {

    #color_scheme_form {
      #placeholder {
        float: none;
        left: auto;
        margin: 20px auto;
        position: static;
      }

      #palette {
        min-height: 0;
        margin: 0 0 0 20px;
      }
    }
  }
}