/* line 9, ../sass/_appearance.global.scss */
.admin-theme--seven#system-theme-settings {
  word-wrap: break-word;
  word-break: break-word;
}
/* line 14, ../sass/_appearance.global.scss */
.admin-theme--seven#system-theme-settings .vertical-tabs, .admin-theme--seven#system-theme-settings .form-type-vertical-tabs {
  margin: 0;
  padding: 0;
  clear: both;
}
/* line 22, ../sass/_appearance.global.scss */
.admin-theme--seven#system-theme-settings .form-actions {
  background: none repeat scroll 0 0 #fcfcfa;
  border-top: 1px solid #bfbfba;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}
/* line 33, ../sass/_appearance.global.scss */
.admin-theme--seven#system-theme-settings label {
  margin: 0 0 3px;
}
/* line 37, ../sass/_appearance.global.scss */
.admin-theme--seven .form-item {
  margin: 1em 0;
}
/* line 41, ../sass/_appearance.global.scss */
.admin-theme--seven label.option {
  font-weight: 700;
}
/* line 45, ../sass/_appearance.global.scss */
.admin-theme--seven details > .details-wrapper {
  padding: 0;
}
/* line 49, ../sass/_appearance.global.scss */
.admin-theme--seven #block-seven-help,
.admin-theme--seven legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
/* line 54, ../sass/_appearance.global.scss */
.admin-theme--seven fieldset {
  margin: 0;
  border: 0;
}
/* line 60, ../sass/_appearance.global.scss */
.admin-theme--seven .form-type-vertical-tabs fieldset {
  padding: 0;
}
/* line 65, ../sass/_appearance.global.scss */
.admin-theme--seven details {
  margin: 0.5em 0;
  border-radius: 4px;
  background: #FCFCFA;
}
/* line 70, ../sass/_appearance.global.scss */
.admin-theme--seven details details {
  background: inherit;
}
/* line 75, ../sass/_appearance.global.scss */
.admin-theme--seven blockquote {
  border-left: 10px solid #A6A5A1;
  padding-left: 10px;
}
/* line 80, ../sass/_appearance.global.scss */
.admin-theme--seven code, .admin-theme--seven pre, .admin-theme--seven kbd {
  font-size: 1em !important;
}
/* line 84, ../sass/_appearance.global.scss */
.admin-theme--seven code {
  font-weight: 700;
}
/* line 88, ../sass/_appearance.global.scss */
.admin-theme--seven pre code {
  font-weight: 400;
  padding: 0;
  margin: 0;
}
/* line 94, ../sass/_appearance.global.scss */
.admin-theme--seven pre.code-block {
  background: #F5F5F2;
  border: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 20px;
  border-radius: 4px;
}
/* line 109, ../sass/_appearance.global.scss */
.admin-theme--seven .subsystem-enabled-container {
  box-sizing: border-box;
  float: right;
  margin-top: -1.75em;
  padding: 0;
}
/* line 115, ../sass/_appearance.global.scss */
.admin-theme--seven .subsystem-enabled-container .form-type-checkbox {
  display: block;
  float: right;
  margin: 0;
  padding-right: 10px;
}
/* line 123, ../sass/_appearance.global.scss */
.admin-theme--seven .layouts-column {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
@media all and (min-width: 60em) {
  /* line 134, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column {
    float: left;
  }
  /* line 138, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column-onethird {
    width: 34%;
  }
  /* line 142, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column-twothirds {
    width: 66%;
  }
  /* line 146, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column-onequarter {
    width: 25%;
  }
  /* line 150, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column-half {
    width: 50%;
  }
  /* line 154, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .layouts-column-threequarters {
    width: 75%;
  }
  /* line 158, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .column-select-layouts {
    border-right: 1px solid #BFBFBA;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
  /* line 164, ../sass/_appearance.global.scss */
  .admin-theme--seven#system-theme-settings .css-layout-options {
    float: right;
  }
}
@media all and (max-width: 75em) {
  /* line 175, ../sass/_appearance.global.scss */
  .admin-theme--seven .toolbar-tray-open #system-theme-settings fieldset[class*="layouts-column-"] {
    width: 100%;
    float: none;
  }
}

/* line 5, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts {
  padding: 0;
  overflow: hidden;
}
/* line 10, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .form-disabled,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled {
  background: #f5f5f2;
}
/* line 14, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .form-disabled label, .admin-theme--seven #edit-layouts .form-disabled h2, .admin-theme--seven #edit-layouts .form-disabled h3, .admin-theme--seven #edit-layouts .form-disabled p, .admin-theme--seven #edit-layouts .form-disabled div, .admin-theme--seven #edit-layouts .form-disabled a, .admin-theme--seven #edit-layouts .form-disabled span, .admin-theme--seven #edit-layouts .form-disabled em, .admin-theme--seven #edit-layouts .form-disabled li, .admin-theme--seven #edit-layouts .form-disabled td, .admin-theme--seven #edit-layouts .form-disabled th,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled label,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled h2,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled h3,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled p,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled div,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled a,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled span,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled em,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled li,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled td,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled th {
  color: #737373;
}
/* line 18, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .form-disabled *:hover,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled *:hover {
  background: #f5f5f2;
}
/* line 22, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .form-disabled *:before,
.admin-theme--seven #edit-layouts .form-disabled img,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled *:before,
.admin-theme--seven #edit-layouts .layouts-column.form-disabled img {
  opacity: 0.5;
}
/* line 30, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layouts-enable-container label,
.admin-theme--seven #edit-layouts #edit-layouts-enable-container .form-disabled {
  background: transparent !important;
}
/* line 38, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-adv-options .details-wrapper {
  padding: 0.5em 1em;
}
/* line 42, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-adv-options #edit-selectors details .details-wrapper {
  padding: 0;
}
/* line 46, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-adv-options pre {
  background: #f5f5f2;
  border-top: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 1em 0.5em;
}
@media all and (min-width: 60em) {
  /* line 58, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-layouts #edit-adv-options select {
    max-width: 160px;
  }
}
@media all and (min-width: 75em) {
  /* line 64, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-layouts #edit-adv-options select {
    max-width: 90%;
  }
  /* line 68, ../sass/_appearance.layouts.scss */
  .toolbar-tray-open #edit-layouts #edit-adv-options select {
    max-width: 160px;
  }
}
/* line 74, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-settings-max-width-value {
  max-width: 6em;
}
/* line 78, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .submit--layout {
  background: #f7fcff;
  border-top: 1px solid #bfbfba;
  clear: both;
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  z-index: 10;
}
/* line 88, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts h2,
.admin-theme--seven #edit-layouts h3,
.admin-theme--seven #edit-layouts h4,
.admin-theme--seven #edit-layouts h5 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 96, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .fieldset-wrapper {
  overflow: hidden;
}
/* line 100, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-settings-layouts-disabled {
  font-size: 0.923em;
  line-height: 1.295em;
  color: #777;
}
/* line 106, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .form-item-settings-layouts-enable {
  margin: 0;
}
/* line 110, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .layouts-column {
  border-top: 1px solid #bfbfba;
  margin-top: 0;
}
/* line 116, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .layouts-column-two details {
  border: 0 none;
  margin: 0;
}
/* line 122, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .breakpoint-group-values {
  margin: 0;
  padding: 0;
  font-size: 0.923em;
  line-height: 1.295em;
  color: #666;
}
/* line 131, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts dl dt {
  font-weight: 700;
}
/* line 135, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts dl dd {
  margin: 0;
  margin-bottom: 0.5em;
}
/* line 141, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts .column-select-layouts {
  clear: right;
}
/* line 149, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select fieldset {
  background: none repeat scroll 0 0 transparent;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
}
@media all and (min-width: 60em) {
  /* line 157, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-layouts #edit-layout-select .form-type-select {
    width: 75%;
    float: left;
    margin: 0;
    padding: 0;
  }
  /* line 163, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-layouts #edit-layout-select .form-type-select label {
    float: left;
    width: 10em;
  }
}
/* line 170, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select details .details-wrapper {
  padding: 10px;
}
/* line 174, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select details details {
  margin: 10px 0;
  border: 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
/* line 181, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select details details summary {
  color: #0074bd;
}
/* line 184, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select details details summary:focus {
  border-top: 0;
  margin-top: 0;
}
/* line 192, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select .css-layout-options .region {
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1.69492%;
  -webkit-transition: all, .15s, ease-in;
          transition: all, .15s, ease-in;
}
/* line 198, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-layouts #edit-layout-select .css-layout-options .region span {
  display: block;
  background-color: #b2b2b2;
  font-size: 0.8rem;
  height: 1.5em;
  padding: 0.3em 0 0 0.45em;
  color: #f5f5f5;
}
/* line 212, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-suggestions {
  background: #f7fcff;
}
/* line 215, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-suggestions label {
  padding-bottom: 10px;
}
/* line 219, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-suggestions .description {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  line-height: normal;
  font-size: 1em;
  font-size: 0.9em;
  margin-top: 20px;
}
/* line 225, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-suggestions ol {
  margin: 0;
  padding: 0 0 0 20px;
}
/* line 232, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-options,
.admin-theme--seven .form-item-layout-suggestion,
.admin-theme--seven #edit-no-mq-css {
  clear: both;
}
/* line 240, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-options .form-disabled {
  background: #f7f7f7;
  margin: 0;
  padding: 1em 0;
}
/* line 249, ../sass/_appearance.layouts.scss */
.admin-theme--seven #edit-max-width .form-item-settings-max-width-value,
.admin-theme--seven #edit-max-width .form-item-settings-max-width-unit {
  display: inline-block;
  margin-right: 3px;
}
@media (max-width: 48em) {
  /* line 259, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-layouts .form-radios label {
    max-width: 120px;
  }
}
@media (max-width: 56em) {
  /* line 266, ../sass/_appearance.layouts.scss */
  .admin-theme--seven #edit-default-layout {
    float: none;
    clear: both;
    margin: 0;
    padding: 0 0 10px;
  }
}

/* line 279, ../sass/_appearance.layouts.scss */
#edit-layouts .fieldset-wrapper {
  overflow: hidden;
}
/* line 284, ../sass/_appearance.layouts.scss */
#edit-layouts .css-layout-options .region {
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1.69492%;
  -webkit-transition: all, .15s, ease-in;
          transition: all, .15s, ease-in;
}
/* line 290, ../sass/_appearance.layouts.scss */
#edit-layouts .css-layout-options .region span {
  display: block;
  background-color: #b2b2b2;
  font-size: 0.8rem;
  height: 1.5em;
  padding: 0.3em 0 0 0.45em;
  color: #f5f5f5;
}

/* line 2, ../sass/_appearance.extensions.scss */
.admin-theme--seven {
  /* Image alignment options */
}
/* line 6, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-extensions > .details-wrapper {
  padding: 0;
}
/* line 10, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-extensions details .details-wrapper {
  padding: 0.35em 0.65em 0.75em;
}
/* line 14, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-extensions .vertical-tabs {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 21, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-extensions .vertical-tabs-list {
  width: 25%;
}
/* line 24, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-extensions .vertical-tabs-panes {
  margin: 0 0 0 25%;
}
/* line 35, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-fonts .form-type-number input {
  max-width: 6em;
}
/* line 42, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-fonts #edit-setup #edit-help,
.admin-theme--seven #edit-fonts #edit-setup .form-item-settings-font-websafe,
.admin-theme--seven #edit-fonts #edit-setup .form-item-settings-font-google,
.admin-theme--seven #edit-fonts #edit-setup .form-item-settings-font-typekit,
.admin-theme--seven #edit-fonts #edit-setup .form-item-settings-font-customstack {
  margin-bottom: 2em;
}
/* line 51, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-fonts #edit-settings-font-websafe {
  max-width: 100%;
}
/* line 55, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-fonts #edit-settings-font-google {
  width: 100%;
}
/* line 64, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .description,
.admin-theme--seven #edit-image-settings .form-type-radios {
  clear: both;
}
/* line 70, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings details details {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 76, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings details fieldset legend {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  font-family: inherit;
  line-height: normal;
  font-size: 1em;
  padding: 0 0 15px;
}
/* line 83, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radios label {
  margin-bottom: 5px;
}
/* line 88, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio {
  clear: none;
  float: left;
  margin: 0 30px 10px 0;
  text-align: center;
  width: 50px;
}
/* line 95, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio input.form-radio {
  margin-bottom: 4px;
}
/* line 99, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio label {
  background-image: url(images/image-alignment-sprite.png);
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 0.8em;
  height: 80px;
  text-align: center;
  vertical-align: bottom;
  width: 50px;
}
/* line 109, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio label[for$=-none] {
  background-position: 0 0;
}
/* line 110, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio label[for$=-left] {
  background-position: -50px 0;
}
/* line 111, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio label[for$=-center] {
  background-position: -100px 0;
}
/* line 112, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-image-settings .form-type-radio label[for$=-right] {
  background-position: -150px 0;
}
/* line 123, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-titles details label {
  display: inline-block;
  width: 8em;
}
/* line 135, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-touch-icons-settings .form-type-textfield {
  margin-bottom: 20px;
}
/* line 139, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-touch-icons-settings label {
  margin-bottom: 5px;
}
/* line 143, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-touch-icons-settings .field-prefix {
  color: #666;
}
/* line 157, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-block-classes label span {
  font-weight: 400;
}
/* line 164, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-classes dt {
  font-weight: bold;
}
@media screen and (min-width: 75em) {
  /* line 169, ../sass/_appearance.extensions.scss */
  .admin-theme--seven #edit-classes dl.class-list dt {
    float: left;
    clear: left;
    text-align: left;
    width: 30%;
  }
  /* line 175, ../sass/_appearance.extensions.scss */
  .admin-theme--seven #edit-classes dl.class-list dd {
    margin-left: 35%;
    overflow: hidden;
  }
}
/* line 187, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-devel label {
  font-weight: bold;
}
/* line 191, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-devel .description {
  color: #777;
}
/* line 195, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-devel .details-wrapper {
  padding: 0.35em 0.65em 0.75em;
}
/* line 202, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-classes {
  background-color: #fff;
}
/* line 205, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-classes fieldset {
  border-bottom: 1px solid #ccc;
}
/* line 210, ../sass/_appearance.extensions.scss */
.admin-theme--seven .pattern-image-clip {
  width: 320px;
  height: 80px;
  background-color: #fff;
  overflow: hidden;
}
/* line 220, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-slideshows label {
  display: inline-block;
  width: 12rem;
}
/* line 227, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-slideshows .form-type-checkbox label,
.admin-theme--seven #edit-slideshows .form-type-textarea label {
  width: auto;
}
/* line 233, ../sass/_appearance.extensions.scss */
.admin-theme--seven #edit-carousels {
  margin: 0;
}

/* line 4, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-basic-settings {
  overflow: hidden;
  padding: 0;
}
/* line 8, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-basic-settings details {
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 12, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-basic-settings details .details-wrapper {
  padding: 10px;
}
/* line 18, ../sass/_appearance.basic.scss */
.admin-theme--seven .theme-settings-bottom {
  clear: none;
}
/* line 24, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-jquery .form-type-checkbox .description {
  font-size: 0.8em;
}
/* line 31, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-drupal-core .form-type-checkbox {
  margin-bottom: 0;
}
/* line 35, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-drupal-core small {
  display: block;
  margin-left: 2em;
}
/* line 39, ../sass/_appearance.basic.scss */
.admin-theme--seven #edit-drupal-core small:before {
  content: "- ";
}

/* line 7, ../sass/_appearance.help.scss */
#edit-help h1,
#edit-subtheme-help h1 {
  font-size: 1.25em;
  text-transform: uppercase;
}
/* line 12, ../sass/_appearance.help.scss */
#edit-help h2, #edit-help h3, #edit-help h4,
#edit-subtheme-help h2,
#edit-subtheme-help h3,
#edit-subtheme-help h4 {
  margin: 2em 0 0;
  padding-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 19, ../sass/_appearance.help.scss */
#edit-help ol, #edit-help ul,
#edit-subtheme-help ol,
#edit-subtheme-help ul {
  margin-bottom: 1em;
  padding: 0;
}

/* line 25, ../sass/_appearance.help.scss */
#edit-help-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/_appearance.help.scss */
.status-block {
  float: right;
  width: 200px;
  padding: 10px;
  margin: 0 0 10px 20px;
}
/* line 37, ../sass/_appearance.help.scss */
.status-block.warning {
  background: #FDF8ED;
  color: #734C00;
}
/* line 44, ../sass/_appearance.help.scss */
.status-block.status {
  background: #f3faef;
  color: #325e1c;
}
/* line 52, ../sass/_appearance.help.scss */
.status-block h2 {
  font-size: 1em !important;
}
/* line 56, ../sass/_appearance.help.scss */
.status-block p, .status-block h2 {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 4, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form h2,
.admin-theme--seven #color_scheme_form #preview {
  display: none !important;
}
/* line 9, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form .form-type-select {
  margin-left: 20px;
}
/* line 13, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form .color-form {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 19, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form .color-form label {
  background: #f2f2f0;
  border-bottom: 1px solid #eee;
  clear: left;
  float: left;
  margin: 0 0.5em 0 0 !important;
  padding: 0.35em;
  width: 20em;
}
/* line 30, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form #placeholder {
  left: 45em;
  position: absolute;
  width: 195px;
  z-index: 100;
  float: none;
}
/* line 38, ../sass/_appearance.color.scss */
.admin-theme--seven #color_scheme_form #palette {
  min-height: 195px;
  margin: 0 0 0 20px;
}
@media all and (max-width: 66em) {
  /* line 47, ../sass/_appearance.color.scss */
  .admin-theme--seven #color_scheme_form #placeholder {
    float: none;
    left: auto;
    margin: 20px auto;
    position: static;
  }
  /* line 54, ../sass/_appearance.color.scss */
  .admin-theme--seven #color_scheme_form #palette {
    min-height: 0;
    margin: 0 0 0 20px;
  }
}

/*# sourceMappingURL=at.appearance.css.map */